<html ng-app="quoteBook">
<head>
	<title></title>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="mainCtrl">
	    <button ng-click="adding=!adding; addQuote()">Add Quote</button>
	    <input type="text" ng-show="adding" placeholder="author" ng-model="newQuote.author"> </input> 
	    <input type="text" ng-show="adding" placeholder="text"  ng-model="newQuote.text"></input>
		<button ng-click="removing=!removing; removeQ()">Remove Quote</button>
		<input type="text" ng-show="removing" placeholder="text" ng-model="remove.text"></input>
		<button ng-click="filtering=!filtering" >Filter Quotes</button>
		<input type="text" ng-show="filtering" ng-model="filterQuotes"></input>
	    <ul ng-repeat="quote in quotes | filter:filterQuotes">

		<li>
          {{quote.text}} 
          {{quote.author}} 
         </li>
	</ul>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="dataService.js"></script>
	<script src="mainCtrl.js"></script>
</body>
</html>


   